.WeatherForecast {
    padding: 3.75rem 1.25rem 0;

    .ForecastContainer {
        width: 100%;
        display: flex;
        gap: 0.625rem;
        overflow-x: auto;
        padding-bottom: 1.25rem;
        white-space: nowrap;

        .Forecast {
            min-width: 10rem;
            max-width: 20%;
            flex: 1 1 auto;
            background-color: #f2f2f2;
            border: 0.0625rem solid #1EA6C6;
            border-radius: 0.625rem;
            padding: 0.9375rem 0;
            text-align: center;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

            .Forecast p {
                margin: 0.3125rem 0;
            }
        }
    }
}