.TopBar {
    background-color: #0080CD;
}

.IconSearch {
    height: 4.375rem;
    display: flex;
    align-items: center;

    img {
        padding-right: 5rem;
    }

    input {
        height: 2.25rem;
        width: 50%;
        border: none;
        border-radius: 0.625rem;
        padding: 0 1rem;
        box-shadow: 0.5rem 0.625rem 0.625rem -0.375rem rgba(0, 0, 0, 0.5);
    }
}